<div>
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="email">Email:</label>
            <br>
            <input id="email" type="email" formControlName="email" />
        </div>
        <div>
            <label for="password">Password</label>
            <br>
            <input id="password" type="password" formControlName="password" />
        </div>
        <br>
        <button class="button" type="submit">Login</button>
    </form>
</div>